#table {
    border: 5px solid black;
    width: 30cm;
    height: 3in;
    background-color: rgba(127, 127, 127, 50%);
    box-shadow: 10px 10px rgb(127, 0, 0);
    margin: 10vh 10em;
}

.cell {
    border: 2px dashed #FF0000;
}

.cell:nth-child(2) {
    width: 50%;
}
